.productsDiv{
    margin-left: 50px;
    margin-top: 20px;
    background-color:aliceblue;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    float: left;
    text-align: center;
}