.productsDiv{
    margin-left: 5%;
        margin-top: 20px;
        background-color:aliceblue;
        padding-top: 40px;
        padding-left: 40px;
        padding-right: 40px;
        float: left;
        text-align: center;
    }
@media only screen and (min-width: 600px) {
    .productsDiv{
        margin-left: 25%;
        margin-top: 20px;
        background-color:aliceblue;
        padding-top: 40px;
        padding-left: 40px;
        padding-right: 40px;
        float: left;
        text-align: center;
    }
}
@media only screen and (min-width: 768px) {
.productsDiv{
        margin-left: 15px;
        margin-top: 20px;
        background-color:aliceblue;
        padding-top: 40px;
        padding-left: 40px;
        padding-right: 40px;
        float: left;
        text-align: center;
    }
}
